<div class="row row-cols-1 row-cols-md-4 g-4">
  <div class="col">
    <div class="card">
      <img
        src="https://secure.skypeassets.com/content/dam/scom/blogs/marvel/homepage-tab.jpg"
        class="card-img-top"
        alt="..."
      />
      <div class="card-body">
        <h5 class="card-title">Be a Super Hero on your next Skype call  </h5>
        <p class="card-text">
          We’re joining forces with Marvel Studios’ to bring epic Shang-Chi and The Legend of The Ten Rings backgrounds to your video calls (for a limited time only).
        </p>
        <a routerLink="/card_one" class="button">Learn More</a>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card">
      <img
        src="https://secure.skypeassets.com/content/dam/scom/blogs/posts/custom-reactions/home-page-super-reactions.jpg"
        class="card-img-top"
        alt="..."
      />
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">
          This is a longer card with supporting text below as a natural lead-in to
          additional content. This content is a little bit longer.
        </p>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card">
      <img
        src="https://secure.skypeassets.com/content/dam/scom/blogs/posts/together-mode/home-page-together-mode-tab.jpg"
        class="card-img-top"
        alt="..."
      />
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">
          This is a longer card with supporting text below as a natural lead-in to
          additional content.
        </p>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card">
      <img
        src="https://secure.skypeassets.com/content/dam/scom/blogs/posts/lock-meeting/home-page-lock-meeting-tab.jpg"
        class="card-img-top"
        alt="..."
      />
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">
          This is a longer card with supporting text below as a natural lead-in to
          additional content. This content is a little bit longer.
        </p>
      </div>
    </div>
  </div>
</div>
<div style="padding-bottom: 40px;"></div> 




